{% extends 'padre.html' %}


{% load static %}


{% block contenidoQueCambia %}




<h1>Lista de entregables</h1>

<body>
    <a href="{% url 'AppCoder:entregable-create' %}">Entregar uno Nuevo</a> 
</body>

<br>

<ul>
    {% for entregable in entregables %}

    <li>
        {{entregable.nombre}},{{entregable.fecha_entrega}}
        <a href="{% url 'AppCoder:eliminar-entregable' entregable.nombre %}">
            <button>Eliminar</button>
        </a>

        <a href="{% url 'AppCoder:editar-entregable' entregable.nombre %}">
            <button>Editar</button>
        </a>
    </li>

    {% endfor %}

</ul>



{% endblock contenidoQueCambia %}